/* HTML Elements */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html { font-size: calc(1em + .5vw); }

body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	min-height: 100%;
}

a {
	color: black;
	text-decoration: none;
}

a:hover:not(.grid-item__link) {
	color: black;
	text-decoration: underline;
}

main {
	flex: 1;
}

/* Snow */
.snow {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Colors */
.mint {
	background: #BCE0BA;
}

.notification,
.flesh {
	background: #E6B795;
}

.grid-item__img,
.pale-violet {
	background: #BF8891;
}
.grid-item__img {
	background: linear-gradient(#BF8891, #E6B795, rgb(255,255,255));
}

.fuschia {
	background: #96629E;
}

.footer,
.grid-item__link,
.banner,
.purple {
	background: #635470;
}
.grid-item__link:hover,
.grid-item__name {
	color: #635470;
}
.grid-item {
	border: 1px solid #635470;
}
.grid-item__link:hover {
	border-top: 1px solid #635470;
}

/* Banner */
.banner {
	background-color: #bf8891;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23eeba95' fill-opacity='0.48' fill-rule='evenodd'/%3E%3C/svg%3E");
	color: #635470;
	height: 150px;
	line-height: 150px;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	z-index: -1;
}

.banner-title {
	display: inline-block;
	padding: 0 20px;
	background: white;
	line-height: 3;
	border-radius: 2px;
}

.banner-title .sans-serif {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
	vertical-align: middle;
}

.banner-title .cursive {
	display: inline-block;
	font-family: 'Pacifico', cursive;
	font-size: 23px;
	line-height: 1;
	padding-bottom: 4px;
	padding-left: 3px;
	text-transform: capitalize;
	vertical-align: middle;
}

/* Notification */
.notification {
	border-radius: 2px;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1;
	list-style-type: none;
	margin: 0 auto 20px;
	padding: 10px;
	width: 90%;
}

.notification li {
	padding: 5px 0;
}

.cheveron-right {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 3.7.2 (28276) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Echeveron-right%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='cheveron-right' fill='%23000000'%3E%3Cpolygon id='Combined-Shape' points='12.9497475 10.7071068 13.6568542 10 8 4.34314575 6.58578644 5.75735931 10.8284271 10 6.58578644 14.2426407 8 15.6568542 12.9497475 10.7071068'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	width: 20px;
}

/* Anchor for template */
#anchor {
	margin: 0 auto;
	width: 85%;
}

/* Grid */
.grid {
	margin: 0 auto;
	width: 100%;
}

/* Grid Item */
.grid-sizer,
.grid-item {
	max-width: 500px;
	width: 100%;
}

.grid-item {
	background: white;
	border-radius: 2px;
	float: left;
	margin-bottom: 10px;
	padding: 0 0 50px;
}

.grid-item__img img {
	max-width: 100%;
	padding: 10px;
}

.grid-item__name {
	display: inline-block;
	font-family: 'Rock Salt', cursive;
	font-size: 18px;
	margin-top: 15px;
	text-align: center;
	width: 100%;
}

.grid-item__link {
	bottom: 0;
	color: white;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: normal;
	left: 0;
	letter-spacing: 3px;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background .25s, color .25s, ease;
	width: 100%;
}

.grid-item__link:hover {
	background: white;
}

/* Grid Item - Media Queries */
@media screen and (min-width: 600px){
	.grid-sizer,
	.grid-item {
		width: calc((100% - 60px) / 2);
	}
}


/* Tablet Portrait and up */
@media screen and (min-width: 769px){
	.grid-sizer,
	.grid-item {
		width: calc((100% - 60px) / 3);
	}
}

/* Desktop and up */
@media screen and (min-width: 1200px){
	.grid-sizer,
	.grid-item {
		width: calc((100% - 80px) / 4);
	}
}

/* Footer */
.footer {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: .5em;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px 10px;
	text-align: center;
}

.footer-content {
	margin: 0 auto;
	width: 85%;
}

.footer-text {
	display: block;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.footer-item {
	margin: 0 5px;
}

.footer-image {
	margin: 10px 0;
	width: 200px;
}

.footer-item.social .footer-image {
	width: 30px;
}

.footer-item.social span {
	display: block;
}

/* 600px (grid item plus a bit for space) and up */
@media screen and (min-width: 600px){
	.footer-content {
		width: 95%;
	}

	.footer-item {
		display: inline-block;
		vertical-align: middle;
		width: calc(95% / 3);
	}

	.footer-image {
		max-width: 200px;
		width: 100%;
	}
}

@media screen and (min-width: 980px){
	.footer{
		margin-bottom: 0;
	}
}
